<!DOCTYPE html>
<html>
<head>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="winTool" ng-controller="myCtrl" id="outer">

  <!-- Image (dynamic) -->
  <img ng-src="{{img_src}}" width="800" height="600" usemap="#map">

  <!-- Coordinates (dynamic) -->
  <map name="map">
    <area ng-repeat="(coords, nextScreen) in img_coords" shape="rect" coords="{{coords}}" ng-click="loadNewScreen(current_simulation, nextScreen)">
  </map>

  <!-- Debug -->
  <h1> Debug info: </h1>
  <p> You are looking at <b>{{current_simulation}}</b> on screen <b>{{current_screen}}</b>.</p>
    <button ng-repeat="(key, value) in simulationData" ng-click="loadNewScreen(key, 'screen1')">{{key}}</button>
</body>
</html>
